html,body
  margin: 0
  padding: 0  
  font-size: 10px
  min-height: 100%
  
html
  background-color: $bg-dark-gray
  background-image: url("/assets/bg.png") 
  background-repeat: repeat

p, h1, h2, h3
  margin: 0
  padding: 0
section
  width: 100%

@font-face
  font-family: "Segoe"
  src: url(/assets/font/SegoeWP.ttf)
  font-weight: normal
@font-face
  font-family: "Segoe"
  src: url(/assets/font/SegoeWP-Light.ttf)
  font-weight: 300

@font-face
  font-family: "Mrs Eaves"
  src: url(/assets/font/Mrs-Eaves.ttf)

.row
  display: flex
  flex-direction: row
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  .col
    flex-grow: 0
    flex-shrink: 0
    

header
  text-align: center

  .logo
    margin: auto
    // margin: 3.6rem 0 2.3rem 0
    width: 22rem
    height: 22rem
    margin-top: 3.6rem 
    margin-bottom: 2.3rem 
    background-image: url("/assets/logo.png") 
    background-position: center center
    background-repeat: no-repeat
    background-size: 100% 100%
  h2
    +font-details(5.063rem, normal, 0) 
    color: $st-white
    margin: 0 0 3.3rem 0
    font-family: "Segoe"
    font-weight: 300
  .header-paragraph
    margin: auto
    text-align: justify
main
  width: 100%
footer
  text-align: center
  background-color: transparent
  padding: 7.9rem 0 4.5rem 0
  width: 100%
  height: 14.4rem
  background-image: url("/assets/bg-footer.png") 
  background-repeat: no-repeat
  background-size: cover
  justify-content: center !important
  align-items: center
  .common-text
    text-align: center
.diplay-none
  display: none
.common-text
  +font-details(1.663rem, 2.3rem, 0) 
  font-family: "Segoe"
  color: $st-white



$gray: #dddddd

h1, h2, h3 
  font-weight: 300

h3 
  +font-details(2.063rem, 2.3rem, 0) 
  font-family: "Segoe"
  font-weight: 300
  color: #4e4e4e

.circle
  background: transparent
  width: 2.6rem
  height: 2.6rem
  margin: 0 auto 
  box-sizing: border-box
  padding: 0.5em
  text-align: center
  position: relative
  clear: both
  border: 0.5rem solid $st-white
  border-radius: 50%

.loading
  background: $st-white
  max-width: 14.9rem
  max-height: 3.2rem
  border-radius: 4px
  margin: 1rem auto 1em
  padding: 0.5em
  text-align: center
  position: relative
  clear: both
  justify-content: flex-start

  img
    margin: 0 1.1rem 0 1.3rem 

  h3
    +font-details(1.863rem, 2.3rem, 0) 
    vertical-align: middle
  &:link,
  &:visited,
  &:hover,
  &:active 
    text-decoration: none

.timeline 
  position: relative
  overflow: auto
  
  &:before //timeline
    content: ''
    position: absolute
    height: 100%
    width: 5px
    background: $st-white
    left: 0
  
  h2 
    background: $st-white
    max-width: 6em
    margin: 0 auto 1em
    padding: 0.5em
    text-align: center
    position: relative
    clear: both
  
  ul 
    list-style: none
    padding: 0 0 0 1em
    z-index: 1
    li 
      background: $st-white
      border-radius: 4px
      padding: 1.9rem 2rem 1.6rem 2rem
      margin-bottom: 1em
      position: relative
  
  time 
    font-style: italic

  .tl-box //boxes with images

    position: relative
    .row
      justify-content: flex-start
      align-items: center
    h3
      +font-details(2.063, 2.3rem, 0) 
      margin-bottom: 1.5rem
    .tl-image
      position: relative
      margin-bottom: 1.8rem
      img //+
        width: 100%
        height: auto
      .tl-date
        position: absolute
        bottom: 0
        right: 1.5rem
        +font-details(2.8rem, 2.8rem, 0) 
        font-family: "Museo"
        color: $st-white
    .social
      height: 2.6rem
      margin-bottom: 1.4rem
      align-items: center
      .soc-icons
        margin: 0 1rem 0 0
      h3
        color: #7e7e7e
        margin: 0 0 0.4rem 0.7rem
        margin-bottom: 
    .tl-input
      margin-bottom: 0.6rem 
      input[type="text"]
        width: 32rem
        height: 5.6rem
        background-color: #f2f2f2
        border: 1px solid #d6d6d6
        margin-right: 1.8rem

  .tl-box, .tl-add      
    &:before //arrows
      content: ''
      width: 0
      height: 0
      position: absolute
      right: 100%
      top: 1.6rem
      border-width: 1.6rem
      border: 0.9rem solid transparent
      border-right: 1.7rem solid $st-white
      // border-top: 1rem solid $st-white
      // border-left: 1em solid transparent
      // border-bottom: 1rem solid $st-white
      

  .tl-add //boxes without images
    h3 
      margin-bottom: 0.5rem

@media screen and (min-width: 40em) 
  .container 
    margin: 0 auto
  
  .timeline 
    &:before //center timeline
      left: 49.85%
    
    ul 
      padding-left: 0
      margin: 0 auto
      width: 94.7rem
    
    li 
      width: 42%
    
    li:nth-child(odd) 
      float: right
      margin-top: 2em
    
    li:nth-child(even) 
      float: left
      &:before //arrow ->
        border: 0.9rem solid transparent
        border-left: 1.7rem solid $st-white
        left: 100%
        // left: auto
    
    li:nth-of-type(2n+1) 
      clear: both
    
  



