html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  min-height: 100%; }

html {
  background-color: #56555c;
  background-image: url("/assets/bg.png");
  background-repeat: repeat; }

p, h1, h2, h3 {
  margin: 0;
  padding: 0; }

section {
  width: 100%; }

@font-face {
  font-family: "Segoe";
  src: url(/assets/font/SegoeWP.ttf);
  font-weight: normal; }

@font-face {
  font-family: "Segoe";
  src: url(/assets/font/SegoeWP-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: "Mrs Eaves";
  src: url(/assets/font/Mrs-Eaves.ttf); }

.row {
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .row .col {
    flex-grow: 0;
    flex-shrink: 0; }

header {
  text-align: center; }
  header .logo {
    margin: auto;
    width: 22rem;
    height: 22rem;
    margin-top: 3.6rem;
    margin-bottom: 2.3rem;
    background-image: url("/assets/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%; }
  header h2 {
    font-size: 5.063rem;
    line-height: normal;
    letter-spacing: 0;
    color: #ffffff;
    margin: 0 0 3.3rem 0;
    font-family: "Segoe";
    font-weight: 300; }
  header .header-paragraph {
    margin: auto;
    text-align: justify; }

main {
  width: 100%; }

footer {
  text-align: center;
  background-color: transparent;
  padding: 7.9rem 0 4.5rem 0;
  width: 100%;
  height: 14.4rem;
  background-image: url("/assets/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center !important;
  align-items: center; }
  footer .common-text {
    text-align: center; }

.diplay-none {
  display: none; }

.common-text {
  font-size: 1.663rem;
  line-height: 2.3rem;
  letter-spacing: 0;
  font-family: "Segoe";
  color: #ffffff; }

h1, h2, h3 {
  font-weight: 300; }

h3 {
  font-size: 2.063rem;
  line-height: 2.3rem;
  letter-spacing: 0;
  font-family: "Segoe";
  font-weight: 300;
  color: #4e4e4e; }

.circle {
  background: transparent;
  width: 2.6rem;
  height: 2.6rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5em;
  text-align: center;
  position: relative;
  clear: both;
  border: 0.5rem solid #ffffff;
  border-radius: 50%; }

.loading {
  background: #ffffff;
  max-width: 14.9rem;
  max-height: 3.2rem;
  border-radius: 4px;
  margin: 1rem auto 1em;
  padding: 0.5em;
  text-align: center;
  position: relative;
  clear: both;
  justify-content: flex-start; }
  .loading img {
    margin: 0 1.1rem 0 1.3rem; }
  .loading h3 {
    font-size: 1.863rem;
    line-height: 2.3rem;
    letter-spacing: 0;
    vertical-align: middle; }
  .loading:link, .loading:visited, .loading:hover, .loading:active {
    text-decoration: none; }

.timeline {
  position: relative;
  overflow: auto; }
  .timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background: #ffffff;
    left: 0; }
  .timeline h2 {
    background: #ffffff;
    max-width: 6em;
    margin: 0 auto 1em;
    padding: 0.5em;
    text-align: center;
    position: relative;
    clear: both; }
  .timeline ul {
    list-style: none;
    padding: 0 0 0 1em;
    z-index: 1; }
    .timeline ul li {
      background: #ffffff;
      border-radius: 4px;
      padding: 1.9rem 2rem 1.6rem 2rem;
      margin-bottom: 1em;
      position: relative; }
  .timeline time {
    font-style: italic; }
  .timeline .tl-box {
    position: relative; }
    .timeline .tl-box .row {
      justify-content: flex-start;
      align-items: center; }
    .timeline .tl-box h3 {
      font-size: 2.063;
      line-height: 2.3rem;
      letter-spacing: 0;
      margin-bottom: 1.5rem; }
    .timeline .tl-box .tl-image {
      position: relative;
      margin-bottom: 1.8rem; }
      .timeline .tl-box .tl-image img {
        width: 100%;
        height: auto; }
      .timeline .tl-box .tl-image .tl-date {
        position: absolute;
        bottom: 0;
        right: 1.5rem;
        font-size: 2.8rem;
        line-height: 2.8rem;
        letter-spacing: 0;
        font-family: "Museo";
        color: #ffffff; }
    .timeline .tl-box .social {
      height: 2.6rem;
      margin-bottom: 1.4rem;
      align-items: center; }
      .timeline .tl-box .social .soc-icons {
        margin: 0 1rem 0 0; }
      .timeline .tl-box .social h3 {
        color: #7e7e7e;
        margin: 0 0 0.4rem 0.7rem; }
    .timeline .tl-box .tl-input {
      margin-bottom: 0.6rem; }
      .timeline .tl-box .tl-input input[type="text"] {
        width: 32rem;
        height: 5.6rem;
        background-color: #f2f2f2;
        border: 1px solid #d6d6d6;
        margin-right: 1.8rem; }
  .timeline .tl-box:before, .timeline .tl-add:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: 1.6rem;
    border-width: 1.6rem;
    border: 0.9rem solid transparent;
    border-right: 1.7rem solid #ffffff; }
  .timeline .tl-add h3 {
    margin-bottom: 0.5rem; }

@media screen and (min-width: 40em) {
  .container {
    margin: 0 auto; }
  .timeline:before {
    left: 49.85%; }
  .timeline ul {
    padding-left: 0;
    margin: 0 auto;
    width: 94.7rem; }
  .timeline li {
    width: 42%; }
  .timeline li:nth-child(odd) {
    float: right;
    margin-top: 2em; }
  .timeline li:nth-child(even) {
    float: left; }
    .timeline li:nth-child(even):before {
      border: 0.9rem solid transparent;
      border-left: 1.7rem solid #ffffff;
      left: 100%; }
  .timeline li:nth-of-type(2n+1) {
    clear: both; } }

@media (min-width: 1024px) {
  header .header-paragraph {
    max-width: 83rem;
    margin-bottom: 2rem; } }
