<ul>
  <!-- <li></li> -->
  <li class="tl-box">
    <h3>Lorem Ipsum is simply dummy text</h3>
    <div class="tl-image">
      <img src="/assets/photo1.png" alt="photo1">
      <div class="tl-date">
        10/07/2013
      </div>
    </div>
    <div class="row social">
      <div class="col soc-icons"><img src="/assets/ico-world.png" alt="world icon"> </div>
      <div class="col soc-icons"><img src="/assets/ico-twitter.png" alt="twitter icon"> </div>
      <h3 class="col">Comment</h3>
    </div>
    <div class="row tl-input">
      <input type="text" class="col">
      <div class="col"><img src="/assets/submit.png" alt="submit icon"> </div>
    </div>
  </li>
  <li class="tl-box">
    <h3>Lorem Ipsum is simply dummy text</h3>
    <div class="tl-image">
      <img src="/assets/photo2.png" alt="photo1">
      <div class="tl-date">
        10/07/2013
      </div>
    </div>
    <div class="row social">
      <div class="col soc-icons"><img src="/assets/ico-world.png" alt="world icon"> </div>
      <div class="col soc-icons"><img src="/assets/ico-twitter.png" alt="twitter icon"> </div>
      <h3 class="col">Comment</h3>
    </div>
    <div class="row tl-input">
      <input type="text" class="col">
      <div class="col"><img src="/assets/submit.png" alt="submit icon"> </div>
    </div>
  </li>
  <li class="tl-box">
    <h3>Lorem Ipsum is simply dummy text</h3>
    <div class="tl-image">
      <img src="/assets/photo3.png" alt="photo1">
      <div class="tl-date">
        10/07/2013
      </div>
    </div>
    <div class="row social">
      <div class="col soc-icons"><img src="/assets/ico-world.png" alt="world icon"> </div>
      <div class="col soc-icons"><img src="/assets/ico-twitter.png" alt="twitter icon"> </div>
      <h3 class="col">Comment</h3>
    </div>
    <div class="row tl-input">
      <input type="text" class="col">
      <div class="col"><img src="/assets/submit.png" alt="submit icon"> </div>
    </div>
  </li>
  <li class="tl-box">
    <h3>Lorem Ipsum is simply dummy text</h3>
    <div class="tl-image">
      <img src="/assets/photo4.png" alt="photo1">
      <div class="tl-date">
        10/07/2013
      </div>
    </div>
    <div class="row social">
      <div class="col soc-icons"><img src="/assets/ico-world.png" alt="world icon"> </div>
      <div class="col soc-icons"><img src="/assets/ico-twitter.png" alt="twitter icon"> </div>
      <h3 class="col">Comment</h3>
    </div>
    <div class="row tl-input">
      <input type="text" class="col">
      <div class="col"><img src="/assets/submit.png" alt="submit icon"> </div>
    </div>
  </li>
</ul>
<a class="_next loading row" href="data.html" >
  <img class="col" src="/assets/load.png" alt="load icon">
  <h3 class="col">Load more</h3>
</a>